:root { /* Возвращает корневой элемент - html*/
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  color: #000000;
  background: #ffffff url("../img/bg-main.png") repeat;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/***************************** ХЕДЕР *****************************/

.main-header {
  color: #ffffff;
  background-color: #000000;
}

.main-navigation {
  float: left;
  max-width: 780px;
}

.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner {
  padding: 20px;
}

.main-navigation a {
  float: left;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active-page {
  position: relative;
  background-color: none;
}

.main-navigation .active-page::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0;
  right: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active-page:hover {
  background: none;
}

.user-block {
  float: right;
  max-width: 170px;
}

.login {
  position: relative;
  float: right;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat -1px -15px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

/***************************** КОНТЕНТ *****************************/

main.container {
  margin-top: 52px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin-bottom: 58px;
}

.breadcrumbs a {
  position:relative;
  margin-right: 45px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs .breadcrumbs-active {
  margin-right: 0;
  color: #aba9a7;
}

.breadcrumbs a:not(.breadcrumbs-active):hover {
  text-decoration: underline;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -28px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: rotate(45deg);
  background-color: #000000;
  pointer-events: none;
}

.breadcrumbs .breadcrumbs-active::after {
  display: none;
}

/******* КАТАЛОГ ТОВАРОВ *******/

.catalog,
.catalog-item {
  margin-bottom: 45px;
}

.catalog-filters {
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
}

.filters-item {
  margin-bottom: 53px;
}

.filters-title,
.list-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: transparent url("../img/sprite.png") no-repeat 0 -59px;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

input[type="checkbox"]:not(:disabled) + label:active,
input[type="checkbox"]:not(:disabled) + label:hover,
input[type="radio"]:not(:disabled) + label:active,
input[type="radio"]:not(:disabled) + label:hover {
  color: #663d15;
}

input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label::after,
input[type="radio"]:disabled + label,
input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::after {
  color: #aba9a7;
  cursor: default;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  margin-right: -4px;
  height: 43px;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  vertical-align: top;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover:not(.btn-paginator-current),
.btn:active:not(.btn-paginator-current) {
  background-color: #663d15;
}

.btn-filter {
  padding: 13px 33px;
}

.products {
  float: right;
  width: 700px;
}

.products-card {
  float: left;
  width: 188px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0 16px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.products-card:hover {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}

.products-card:nth-child(3n+3) {
  margin-right: 0;
}

.products-card img {
  width: 220px;
  height: 165px;
  margin: 0 -16px;
  margin-bottom: 5px;
}

.products-card .products-item-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.products-item a {
  color: #000000;
  text-decoration: none;
}

.products-manufacturer {
  display: block;
  text-transform: uppercase;
}

.products-card .products-panel {
  margin-bottom: 16px;
}

.products-panel .price {
  display: inline-block;
  min-width: 89px;
  margin-right: -4px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  background-color: #e5e5e5;
}

.products-panel .btn-buy {
  min-width: 79px;
  padding: 13px 19px;
}

.catalog-paginator {
  float: left;
  width: 700px;
  margin-top: 25px;
}

.catalog-paginator .btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 43px;
  margin-right: 3px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.btn-paginator-current {
  color: #000000;
  background-color: #ffffff;
  cursor: default;
}

/******* КАРТОЧКА ТОВАРА *******/

.catalog-item-left {
  float: left;
  width: 460px;
}

.active-gallery-item {
  width: 460px;
  height: 498px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.active-gallery-item img {
  width: 460px;
  height: 498px;
}

.gallery a {
  float: left;
  width: 140px;
  height: 149px;
  margin-right: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.gallery img {
  width: 140px;
  height: 149px;
}

.gallery a:last-child {
  margin-right: 0;
}

.catalog-item-right {
  float: right;
  width: 390px;
  padding-top: 21px;
}

.description {
  max-width: 385px;
  margin-bottom: 65px;
}

.description-header {
  margin-bottom: 35px;
}

.product-status {
  float: left;
}

.vendor-code {
  float: right;
  color: #aeaeae;
}

.description p {
  margin-bottom: 28px;
}

.list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-items li {
  position: relative;
  padding-left: 20px;
}

.list-items li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: rotate(45deg);
  background-color: #000000;
}

.list-items li::before {
  left: 0;
}

/***************************** ФУТЕР *****************************/

.main-footer {
  margin-top: 45px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/bg-footer.png") repeat;
  box-shadow: inset 0 10px 30px 0 #000000;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:last-child,
.footer-contacts a:hover {
  text-decoration: none;
}

.footer-contacts .phone:hover {
  cursor: default;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.socials .btn {
  display: inline-block;
  width: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat;
}

.socials .btn:hover {
  background-color: #ffffff;
}

.socials .btn-social-vk {
  background-position: 9px -447px;
}

.socials .btn-social-fb {
  background-position: 15px -171px;
}

.socials .btn-social-inst {
   background-position: 12px -313px;
}

.socials .btn-social-vk:hover {
  background-position: 9px -381px;
}

.socials .btn-social-fb:hover {
  background-position: 15px -100px;
}

.socials .btn-social-inst:hover {
  background-position: 12px -242px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
  padding: 13px 22px;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
